
<div id="company-layout">
  <div id="aside-background">&#160;</div>
</div>

<% content_for :aside do %>
<div style="padding:10px;color:#eee;">
  <h2>ABOUT</h2>
  <p>
  JD-LIGHTINGS, Inc. is a premiere lighting company that has been in the auto after-market industry for over 6 years. 
   Since 2004, we have provided  high quality LED and HID lighting systems for both our wholesaler and retail networks. 
   Our commitment to excellent customer service and reliable efficiency has kept us leaders in the automotive lighting industry. 
   We provide our own brand of LED Lighting in competitive prices with a vast range of products.  
   Preview our product section to see our high performance in lighting.
   </p>
</div>
<% end %>