<% content_for :background do %>
<div id="company-layout">
  <div id="aside-background">&#160;</div>
</div>
<% end %>

<% content_for :aside do %>
<div style="padding:10px;color:#eee;">
  <h2>CONDITIONS</h2>
  <ul>
    <li>SALES CONDITIONS (PDF)</li>
    <li>PURCHASE CONDITIONS (PDF)</li>
  </ul>
</div>
<% end %>
<%= render :template => "pages/template" %>