<% content_for :background do %>
<div id="company-layout">
  <div id="aside-background">&#160;</div>
</div>
<% end %>

<% content_for :aside do %>
<div class="pad">
  <ul class="pdf-list">
    <li>SALES CONDITIONS <a href="#">(PDF)</a></li>
    <li>PURCHASE CONDITIONS <a href="#">(PDF)</a></li>
  </ul>
</div>
<% end %>
<%= render :template => "pages/template" %>