
<div id="contact-layout">
  <div id="aside-background">&#160;</div> 
</div>


<% content_for :aside do %>
<div style="padding:10px;color:#eee;">
  <h2>CONTACT</h2>

  <h3>Mailing Address</h3>

  RACETECHPERFORMANCE
  201 Lemon Creek
  Suite a
  Walnut, CA 91789
  TEL: (909) 348-7277
  FAX: (909) 348-7332


  <h3>E-mail</h3>

  Sales-Related
  sales@racetechperformance.com

  RMA-Related
  rma@racetechperformance.com

  Tech-Support
  support@racetechperformance.com

  Whole-Sale
  wholesales@racetechperformance.com
  
</div>
<% end %>