
<% content_for :background do %>
<div id="contact-layout">
  <div id="aside-background">&#160;</div> 
</div>
<% end %>

<% content_for :aside do %>
<div class="pad contact-wrapper">
  <h2>CONTACT</h2>
  <p>
    <b>RACETECHPERFORMANCE</b>
    <br/>201 Lemon Creek
    <br/>Suite A
    <br/>Walnut, CA 91789
  </p>
  <p>
    <b>TEL:</b> (909) 348-7277
    <br/><b>FAX:</b> (909) 348-7332
  </p>
  <h3>EMAIL</h3>

  <h4>Sales-Related</h4>
  <a href="">sales@racetechperformance.com</a>

  <h4>RMA-Related</h4>
  <a href="">rma@racetechperformance.com</a>

  <h4>Tech-Support</h4>
  <a href="">support@racetechperformance.com</a>

  <h4>Wholesale</h4>
  <a href="">wholesales@racetechperformance.com</a>
  
</div>
<% end %>
<%= render :template => "pages/template" %>