
<div id="company-layout">
  <div id="aside-background">&#160;</div>
</div>

<% content_for :aside do %>
<div style="padding:10px;color:#eee;">
  <h2>DEALER INQUIRY</h2>
  <p>
    If you are interested in becoming a distributor for JD Lightings and want to get competitive pricing for your automotive store or shop, look no further, you have come to the right place! 
    JD Lightings carries a large inventory in all kind of vehicle braking and performance product, including Brembo rotors, RTP rotors, PBR/Axxis brake pads, Stainless Steel brake lines, clutch lines, HID, Aftermarket Halogen bulbs and much more.
  </p>
  <p>
    At JD Lightings, our goal is to provide the best quality products at the lowest pricing available (If we can’t beat it, we will price match it), and best yet we process our orders promptly (within 1-2 business days).
  </p>
  <p>
    If you are interested in becoming a dealer for us and would like detail information regarding such terms as pricing, shipping, availability, service and warranty, please complete the information below fax (909-348-7332) or send an e-mail to wholesales@racetechperformance.com and titled it "JD Lightings Dealer Inquiry."

    3 forms of document required:
  </p>
  <ol>  
    <li>A Complete Dealer Form, signed and dated.</li>
    <li>A Copy of your Business License (if applicable)</li>
    <li>A Copy of your Sellers Permit</li>
  </ol>
  <p>
    Once approved, you will receive the best pricing available as well as unmatched customer service and attention. And to generate more business to you, we will add your shop to our list of Approved Dealers so that prospective customers will know you are legit and can back up your warranties.
  </p>
</div>
<% end %>
