
<% content_for :background do %>
<div id="media-layout">
  <div id="main-background">&#160;</div>
</div>
<% end %>

<% content_for :content do %>
  <h2>FAQs</h2>

  <% if params[:site] == "hydro" %>
  <h2>What is Color Rendering Index (CRI), Color Temperature (K) and Lumen?</h2>
  <div class="indent">
    <p>
    The CRI is an index that measures how closely an artificial light source matches the natural colors
    of sunlight with 100 being a perfect score. For a CRI value of 100 (max value), the colors of objects
    can be expected to be seen as they would appear under an incandescent or daylight spectrum of the
    same correlated color temperature. MH has a CRI of about 70, so only 70% of colors will be rendered
    correctly, while HPS has a CRI of 22.
    <p>
    </p>
    Different types of lamps produce different lighting "spectrums". The visible lighting spectrum is much
    like a rainbow, ranging in order from violet-blue-green-yellow-orange-red. This spectrum is scientifically
    measured in "degrees Kelvin" or "K". A lamp that is rated at 6500 Kelvin or 6500K would appear to
    be "blue-ish", while a lamp that is rated at 2,200K would appear to be "orange-red-ish". Plants are
    under the spell of the seasons, thus subject to seasonal changes in available light spectrum. The blue
    end of the spectrum is associated with spring and it's lengthening days, promoting vegetative growth in
    most plants. The red end of the spectrum is reminiscent of autumn, with its shortening days and long
    harvest sunset. Autumn usually promotes a higher flower-to-leaf ratio in flowering plants. It is generally
    accepted that an indoor grower should use either a Metal Halide (MH), or High Pressure Sodium (HPS)
    light. HPS has a warm (red) color temperature of around 2700K as compared to MH at 4200K, which has
    a cool (blue) color temperature. Since MH and HPS are different in temperature (2200K vs. 4500K), you
    cannot compare the CRI of HPS (CRI=22) vs. Metal Halide (CRI=70) because the color temperatures are
    different .
    <p>
    </p>
    Lumen is a unit measurement of the rate at which a lamp produces light. A lamp's lumen output rating
    expresses the total amount of light the lamp emits in all directions per unit time. In terms of plant
    growth, it is said that the better lumen output, the better ability to grow plants (brighter the lamp,
    better plant growth). However, studies have also shown that the broader color spectrum lamp will
    perform much better than a lamp with high lumen output when it comes to plant growth. A standard
    60 watt incandescent lamp is rated at an output of 900 lumens. A 400 watt Metal Halide lamp produces
    36,000 lumens and a 400 watt High Pressure Sodium lamp produces 50,000 lumens. Generally High
    Pressure Sodium lamps are more efficient light producers (more lumens per watt), these lamps produce
    a range of 100-140 lumens per watt, while Metal Halide lamps produce a range of 70-110 lumens per
    watt.
    <p>
  </div>
  
  <h2>What is the difference between MH and HPS with regards to plant growth?</h2>
  <div class="indent">
    <p>
    Metal Halide (MH) is a highly efficient light source capable of delivering a white light in the range of
    2700 to 5500 Kelvin degrees with a typical Color Rendering Index (CRI) ratings in the mid-60's to mid-
    70's. MH lamps produce a blue-white color and fall into the blue/green spectrum. They are ideal for
    plants that are in the actively growing state. Leafy green crops grow great under MH lamps. Metal
    halide lamps are about five times more efficient than their incandescent counterparts and last up to 25
    times longer, with a usable lifespan between 10,000 and 20,000 hours, depending on the wattage.
    <p>
    </p>
    High Pressure Sodium (HPS) lamps are ideal for plants that are actively fruiting and flowering. HPS falls
    under the yellow/orange/red spectrum and growers choose HPS lamps to supply natural sunlight. Most
    horticulturalists will used MH to grow their plants and HPS to fruit and flower their plants. In addition,
    HPS helps with reproductive processes, which generally produces larger harvests of higher quality fruits
    or flowers.
    </p>
  </div>
  
  
  <h2>What are the benefits of Electronic ballasts?</h2>
  <div class="indent">  
    <p>
    An Electronic Ballasts is a device required by electric-discharge light sources such as fluorescent or HID
    lamps to regulate voltage and current supplied to the lamp during start and throughout operation.
    Electronic Ballasts are more efficient at converting electricity into usable light and can produce up to
    400x more frequency than an HID ballast (60Hz). Since your power bill is based on kilowatt-hours and
    not efficiency, a 1000 watt electronic ballast will cost you about the same as a 1000 watt HID ballast to
    operate.
    </p>
  </div>
  
  <h2>How much energy/electricity will my light use?</h2>
  <div class="indent">
    <p>
    The exact amount depends on the wattage of the system and the number of hours operated. To
    calculate your cost, multiply the bulb wattage X the number of hours of operation and divide by 1000.
    This figure is the number of kilowatt-hours of electricity used. (Example: a 400 watt lamp running for
    18 hours will use 7.2 kilowatt-hours). Check your power bill for the cost of each kilowatt-hour. Then
    multiply the number of kilowatt-hours used by the cost of a kilowatt-hour (K/hr) to figure the cost to
    run your light for that many hours. Also, each lamp uses the amount of wattage the light is plus an
    additional 15% for the ballast. So, a 400 watt HPS uses 400 watts for the lamp and another 15%, or 60
    watts, for the ballast - for about 460 watts total, give or take. This is a general rule and the electrical
    consumption could be a little more or less than this.
    </p>
  </div>
    
  <h2>How often do I need to change my light bulb?</h2>
  <div class="indent">
    <p>
    HID (MH/HPS) bulbs should be replaced after 12 to 18 months of use. Although MH and HPS lamps will
    continue to light beyond 18 months of use, they will have lost up to 30 percent or more of their lumen
    output while consuming the same amount of electricity. The average life of a MH lamp is 12,000 hours
    for a 1000 watts lamp and 20,000 hours for a 400 watt lamp. The rated life hours for most HPS light
    bulbs is 24,000 hours. Most manufacturers rate their lamps by “Average Life Hours” and usually claim
    10,000 to 24,000 hours. These ratings are based on when the lamp/bulb will completely fail to come on.
    They do not factor in loss of intensity or loss of color. MH and HPS light bulbs lose intensity and color
    through normal use. This is OK if you are lighting a warehouse, but when it comes to plant growth, these
    losses can mean wasted electricity and poor plant performance. Serious horticulturists recommend that
    replacing HPS or MH Light Bulbs after 6000 hours of use. This equates to using your light 16 hours a day
    for one year.
    </p>
  </div>
  
  <h2>How long should I run my lights?</h2>
  <div class="indent">
    <p>
    This depends on the type of plants and whether you have natural sunlight available to your garden. As
    a general rule, when you are in a vegetative stage of plant growth and you have no natural sunlight, run
    your lights 14-18 hours a day. If you have natural sunlight, it will vary because the sunlight may or may
    not be direct. It will take a little experimenting to find the best length of time to run your lights. If you
    are actively fruiting and flowering, the rule is to run your lights 12 hours a day if you have no natural
    light.
    </p>
  </div>
  
  <h2>How high do I need to hang my lights above my plants?</h2>
  <div class="indent">
    <p>
    The higher the wattage the further away you want the light to be from your plants due to the amount of
    heat. HID lighting will be further away than a fluorescent fixture because of this. When mounting your
    lighting fixture take into account the type of plant and how tall the plant will grow. You want to keep the
    light as close as you can, but not so close to burn the plant. A simple rule is "if it is comfortable for the
    back of your hand, it will be a safe distance for your plants". Doing a little research on the type of plant
    and where it comes from will help in determining how much (or little) light your plants like. With fast
    growing plants, you may need to check the hanging height on a regular basis as plants that get too close
    to the lamp will be severely burned.
    </p>
  </div>
  
  <h2>How big of an area will my light cover?</h2>
  <div class="indent">
    <p>
    The size of the garden area will determine the wattage you need. If we assume that the plants will
    get no sunlight, a 1000 watt light will cover about 7 x 7 feet of growing area. A 600watt will cover 6
    x 6 feet, a 400watt will cover 4 x 4 feet, and a 250watt will cover 3 x 3 feet. These sized areas would
    be considered the "Primary Growing" areas. These lights will light-up larger areas, but plants placed
    outside of the Primary Growing area, will stretch and bend toward the light; a phenomenon called
    phototropism. Keep these areas of coverage in mind when using multiple fixtures. The best results occur
    when the areas of coverage overlap.
    </p>
  </div>
  
  
  <h2>How do I know my MH or HPS bulbs are functioning normally?</h2>
  <div class="indent">
    <ul>
      <li>It may take MH or HPS bulbs 10-15 minutes to come to full brightness.</li>
      <li>
        Additionally, in most MH or HPS systems, if the light is turned off, even momentarily, the lamp
        will "extinguish" and then need to fully "cool-down" before the arc will "re-strike" and light up
        again, this whole process may take up to 25 minutes.
      </li>
      <li>During the first few hours of use, the light from the lamp might oscillate.</li>
      <li>The light will decrease in intensity during the life of the lamp.</li>
  
      <li>
        During the first hours, intensity of the light may fluctuate somewhat, which is normal. After 100
        hours of “burn in” time, the bulb will continue to burn evenly for the remainder of it's life (with
        normal aging reduction).
      </li>
    </ul>
  </div>
  
  
  <h2>What is a Switchable Ballast?</h2>
  <div class="indent">
    <p>
    Switchable light ballast grow lights allow using either a Metal Halide or a HPS lamp. To change from one
    type of lamp to the other, insert the appropriate lamp and set the switch. This enables growers to use
    the proper spectrums for vegetable growth (MH) and flowering (HPS) with a simple to use switch.
    <p>
    </p>
    Why do I need glass to get the UL listing on a Metal Halide light?
    The inner arc tube of a Metal Halide lamp contains mercury. Underwriters Laboratory has stated that for
    a Metal Halide fixture to maintain its UL Listing, that an additional tempered safety lens is required in
    the event that the arc-tube and outer glass fail. This will prevent the spread of Mercury.
    <p>
    </p>
    Can I run a 1000 watt bulb in my 400 watt lighting system?
    No! The internal components of the ballast are designed to send the correct voltage and current for the
    rated lamp. Mixing lamps and ballasts will result in premature failure and will void the manufacturers'
    warranty. Consider the size area you want your garden to be prior to making a lighting purchase. It is
    better to grow into a fixture than out of one.
    </p>
  </div>
    
  <% end %>
  <style type="text/css">
    h2{
      cursor:cursor;
      cursor:pointer;
    }
    h2:hover, h2.active{
      color:#555;
      text-decoration:underline;
    }
    .indent {
      padding:10px;
      padding-top:0;
    }
  </style>
  <script>
    $("h2").click(function(){
      $(this).toggleClass("active").next('div').toggle();
      
    })
    $("div.indent").hide();
  </script>
<% end %>
<%= render :template => "pages/template" %>