
<% content_for :background do %>
<div id="media-layout">
  <div id="main-background">&#160;</div>
</div>
<% end %>

<% content_for :content do %>
  <h1>PRIVACY AND TERMS OF SERVICE</h1>
<% end %>

<%= render :template => "pages/template" %>