
<% content_for :background do %>
<div id="media-layout">
  <div id="main-background">&#160;</div>
</div>
<% end %>

<% content_for :content do %>
  <h2>SUPPORT</h2>
  
  <h3>USER MANUALS</h3>
  <ul class="pdf-list">
    <li>HID USER MANUAL <a href="#">(PDF)</a></li>
    <li>LED USER MANUAL <a href="#">(PDF)</a></li>
    <li>HALOGEN USER MANUAL <a href="#">(PDF)</a></li>
  </ul>
  
  <h3>TUTORIALS</h3>
  <ul class="pdf-list">
    <li>Toyota Prius interior LED installation <a href="#">(PDF)</a></li>
    <li>Toyota Tundra interior LED installation <a href="#">(PDF)</a></li>
    <li>BMW X5 interior LED installation <a href="#">(PDF)</a></li>
  </ul>  
<% end %>
<%= render :template => "pages/template" %>