
<% content_for :background do %>
<div id="media-layout">
  <div id="main-background">&#160;</div>
</div>
<% end %>

<% content_for :content do %>
  <h1>SUPPORT</h1>
  
  <h2>USERS MANUALS</h2>
  <ul>
    <li>HID USER MANUAL (PDF)</li>
    <li>LED USER MANUAL (PDF)</li>
    <li>HALOGEN USER MANUAL (PDF)</li>
  </ul>
  
  <h2>TUTORIALS</h2>
  <ul>
    <li>Toyota Prius interior LED installation (PDF)</li>
    <li>Toyota Tundra interior LED installation (PDF)</li>
    <li>BMW X5 interior LED installation (PDF)</li>
  </ul>  
<% end %>
<%= render :template => "pages/template" %>