<div class="container">
	<%= yield :background %>
</div>

<div class="main-container">
	<div class="aside" style="height:489px;">
      <%= yield :aside %>
	</div>
	<div class="content-block">
		<div class="content-holder">
		  <%= yield :content %>
		</div>
	</div>
</div>