<% content_for :background do %>
<div id="product-layout">
  <div id="aside-background">&#160;</div>
</div>
<% end %>

<% content_for :aside do %>

<ul class="accordion">
  <% @categories.each do |cat| %>
    <li>
    <%= link_to cat.name, cat.name, :class => "opener" %>
    </li>
  <% end %>  
  <!-- 
	<li>
		<div class="slide">
			<div class="box">
				<h3>Premium Ballast</h3>
				<ul>
					<li class="active"><a href="#">Ballast 1</a></li>
					<li><a href="#">Ballast 2</a></li>
					<li><a href="#">Ballast 3</a></li>
				</ul>
			</div>
		</div>
	</li>
	-->
	
	<li><a href="#">PARTS ACCESSORIES</a></li>
</ul>

<% end %>


<% content_for :content do %>
  <h2>Products</h2>
<% end %>
<%= render :template => "pages/template" %>

